@model ChatBotMVC.Models.ChaveAPIViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-4 bg-light">
            <h2>Projeto TCC - Unicarioca</h2>
            <p>
                Este projeto se trata de um ChatBot que utiliza a API do ChatGPT (gpt-3.5-turbo). A ideia do projeto é a criação de um 'assistente'
                para um atendimento médico. Um chat com uma inteligência artificial que pode fazer um <i>briefing</i> para auxiliar um profissional
                de saúde a fazer um diagnostico e tratamento.
            </p>
            <hr class="my-4" />
            <p>
                O uso da API é cobrado por requisição, para mais informações, acesse o <i>link</i>:
                <a href="https://platform.openai.com/docs/api-reference">https://platform.openai.com/docs/api-reference</a>.
            </p>
            <p>Caso possua uma API Key, insira-a no campo abaixo, para poder fazer as chamadas ao ChatBot:</p>
            <form asp-action="ValidarChaveApi" id="form-chave-api"><!-- CAMPO PREENCHIMENTO API -->
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="input-group" id="AddKey">
                    <input asp-for="ChaveAPI" autocomplete="one-time-code" class="form-control" placeholder="Digite sua API Secret Key">
                    <span asp-validation-for="ChaveAPI" class="text-danger" style="margin-top: 5px"></span>
                    <button type="submit" class="btn btn-primary">Confirmar</button>
                </div>
            </form>
            
        </div>
        <div class="col-6 bg-light">
            <div class="messages"> <!-- JANELA DE MENSAGENS -->
                <div class="question">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent arcu libero, convallis vitae vestibulum a, dignissim vel ex. Ut quis aliquam mi.
                </div>
                <div class="response">
                    Curabitur urna leo, varius eu leo eget, vehicula bibendum nisi. Phasellus dignissim consequat enim, nec semper dui aliquam id.
                </div>
            </div>
            <div class="input-group">
                <inpu type="text" class="form-control" placeholder="Digite uma mensagem" autocomplete="off">
                <button class="btn btn-primary" onclick="SendMessage">Enviar</button>
            </div>
            <div class="col-2"></div>
        </div>
        <div class="col-3"></div>
    </div>
</div>

<script>
    function ExibirLoading() {

        $(`#carregando`).show();
    };
</script>